<div id="<%= dom_id todo %>" 
  class="flex items-center py-3 bg-white border-b gap-x-4" 
  data-reorderable-id="<%= todo.id %>" 
  data-reorderable-path="<%= todo_priority_path(todo) %>"
  draggable="true">
  <div class="w-4 h-full -my-3 text-gray-900 rounded-sm hover:bg-gray-300 active:bg-gray-400 hover:cursor-grab active:cursor-grabbing" >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-10">
      <path d="M8 2a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM8 6.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM9.5 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
    </svg>
  </div>
  <%= form_with model: todo, data: { controller: "form" } do |form| %>
    <%= form.label :completed, for: dom_id(todo, :completed) do %>
      <%= form.check_box :completed, id: dom_id(todo, :completed), data: { action: "form#submit" } %>
    <% end %>
  <% end %>
  <span class="flex-1"><%= todo.name %></span>
  <% if action_name != "show" %>
    <%= link_to "Show this todo", todo, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this todo", edit_todo_path(todo), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium mr-1" %>
  <% end %>
</div>