<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Todos</h1>
    <%= link_to "New todo", new_todo_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium", data: {turbo_stream: true} %>
  </div>
  <%= turbo_stream_from Todo.model_name.plural %>
  <input 
    id="search" 
    type="text" 
    name="todo" 
    value="<%= params[:todo] %>"
    placeholder="Search" 
    data-controller="search" 
    data-search-url-value="<%= request.path %>"
    data-action="search#search turbo:before-morph-element@document->search#animateRemovals turbo:morph-element@document->search#animateInsertions"
  data-turbo-permanent
  class="w-full my-1 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
  <div id="todos" class="min-w-full mt-1 overflow-hidden border rounded-lg" 
    data-controller="reorder"
    data-action="dragstart->reorder#dragstart dragover->reorder#dragover dragenter->reorder#dragenter dragleave->reorder#dragleave drop->reorder#drop dragend->reorder#dragend"
    data-reorder-active-dropzone-class="border-dashed bg-gray-50 border-slate-400"
    data-reorder-active-item-class="shadow"
    data-reorder-drop-target-class="shadow-inner shadow-gray-500">
    <%= render @todos %>
  </div>
</div>
